@defer(when display()) {
  <resume-app-section-header [header]="'languages'" [startAnimation]="true"/>
  <div class="display-content languages-container">
    <resume-app-language language="Polish" level="Native"/>
    <resume-app-language language="English" level="B2"/>
  </div>
}
@placeholder(minimum 100ms){
  <div class="component-placeholder"></div>
}
