:host {
  display: block;
  padding-top: 55px;
}

.languages-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 40px;
  padding-bottom: 80px;

  resume-app-language {
    flex: 1 1 0px;
  }
}

.component-placeholder {
  height: 600px;
}
