@use 'mixins/animated-change-bg-color';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 65px;
  font-size: 1.75rem;
  font-weight: 700;
  overflow-x: hidden;

  >div {
    opacity: 0;
  }
}

.header {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #ffffff;
    animation: show-header 5s cubic-bezier(.36,.99,.51,.93) forwards;
  }

  @include animated-change-bg-color.change-bg-color(
    text,
    (
      change-opacity 2s cubic-bezier(.36,.99,.51,.93) forwards,
      change-bg-color 15s cubic-bezier(.85,.15,.1,.84) infinite
    ),
    400%
  ) {
    @keyframes change-opacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes change-bg-color {
      0% {
        background-position: 0 100%;
      }
      50% {
        background-position: 100% 0;
      }
      100% {
        background-position: 0 100%;
      }
    }
  }
}

@keyframes show-header {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
