@defer(when display()) {
  <div class="display-content">
    <img
      [src]="iconPath"
      [alt]="name"
      class="icon"
    >
    <p class="name">{{ name }}</p>
    <div class="links">
      <div (click)="navigateToDemo()">
        <span>View Online</span>
      </div>
      <div (click)="navigateToSourceCode()">
        <span>Source Code</span>
      </div>
    </div>
    <div class="description">
      <div class="description-decoration"></div>
      <div class="description-context">
        {{ description }}
      </div>
      <div class="description-divider"></div>
    </div>
  </div>
}
@placeholder(minimum 100ms){
  <div class="component-placeholder"></div>
}
