@use 'mixins/animated-change-bg-color';
@use 'mixins/shine-animation';

:host {
  display: block;
  width: 100%;
  text-align: center;
}

img {
  width: 90%;
  min-width: 200px;
  min-height: 135px;
  max-width: 500px;
  max-height: 338px;
}

.name {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;
  font-size: 1.5rem;
  letter-spacing: 6px;

  background: linear-gradient(90deg, #000, #000, #000, #a60aff, #000, #000, #000);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 500%;

  @include shine-animation.shine(10s, ease-in-out, normal, 100%, -100%);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  >div {
    display: flex;
    position: relative;
    padding: 10px 30px;
    margin-bottom: 30px;
    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before {
      border-top: 1px rgba(232,55,55,1) solid;
      border-left: 1px rgba(232,55,55,1) solid;
      transform: translate(-37px, -12px);
    }

    &::after {
      border-right: 1px rgba(166,10,255,1) solid;
      border-bottom: 1px rgba(166,10,255,1) solid;
      transform: translate(-28px, -8px);
    }

    &:hover {
      &::before, &::after {
        transform: translate(-30px, -10px);
      }
    }

    >span {
      display: block;
      font-size: 1.25rem;

      @include animated-change-bg-color.change-bg-color(
        text,
        (
          change-size 7s ease-in-out alternate infinite,
          change-bg-color 15s cubic-bezier(.85,.15,.1,.84) infinite
        ),
        400%
      ) {
        @keyframes change-size {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(1.09);
          }
        }

        @keyframes change-bg-color {
          0% {
            background-position: 0 100%;
          }
          50% {
            background-position: 100% 0;
          }
          100% {
            background-position: 0 100%;
          }
        }
      }
    }
  }
}

.description {
  display: grid;
  grid-template-columns: 4px 1fr;
  column-gap: 20px;

  &-context {
    font-size: 1.25rem;
    text-align: left;
    line-height: 2.5em;
  }

  &-decoration {
    display: block;
    width: 5px;

    @include animated-change-bg-color.change-bg-color(
      border-box,
      (change-bg-color 10s cubic-bezier(.85,.15,.1,.84) infinite),
      400%
    ) {
      @keyframes change-bg-color {
        0% {
          background-position: 100% 0;
        }
        50% {
          background-position: 0 100%;
        }
        100% {
          background-position: 100% 0;
        }
      }
    }
  }

  &-divider {
    display: block;
    width: 50vw;
    max-width: 300px;
    height: 5px;
    margin-top: 20px;

    @include animated-change-bg-color.change-bg-color(
      border-box,
      (change-bg-color 15s cubic-bezier(.85,.15,.1,.84) infinite),
      400%
    ) {
      @keyframes change-bg-color {
        0% {
          background-position: 0 100%;
        }
        50% {
          background-position: 100% 0;
        }
        100% {
          background-position: 0 100%;
        }
      }
    }

  }
}

.component-placeholder {
  height: 900px;
}
