:host {
  display: block;
  padding-top: 55px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 35px;

  resume-app-link {
    margin: 20px 0;
  }
}
