:host {
  display: block;
  padding-top: 55px;
}

.content {
  position: relative;
  font-size: 1.25rem;
  line-height: 2.5em;
  overflow-x: hidden;
  opacity: 0;
}

.component-placeholder {
  height: 300px;
}
