@defer(when display()) {
  <resume-app-section-header [header]="'about me'" [startAnimation]="true"/>
  <div class="content display-content">
    Angular Developer always eager to explore new features within this framework and the entire ecosystem surrounding it. In my current job, I develop a complex project from scratch in v16+.
    Staying up to date is crucial, so I try to spend every spare time reading or watching Angular content.
  </div>
}
@placeholder(minimum 100ms){
  <div class="component-placeholder"></div>
}
