@mixin change-bg-color($background-clip, $animation, $background-size) {
  color: transparent;
  background:
    linear-gradient(70deg,
      rgba(153,0,255,1) 13%,
      rgba(215,74,191,1) 26%,
      rgba(229,30,111,1) 41%,
      rgba(223,50,53,1) 53%,
      rgba(232,55,55,1) 64%,
      rgba(255,0,215,1) 73%,
      rgba(243,62,255,1) 79%,
      rgba(192,64,205,1) 85%,
      rgba(166,10,255,1) 91%,
      rgba(104,107,251,1) 97%
    );
  background-clip: $background-clip;
  -webkit-background-clip: $background-clip;
  animation: $animation;
  background-size: $background-size;

  @content;
}
