@mixin very-small-screens {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin small-screens {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin medium-screens {
  @media screen and (min-width: 768px) and (min-height: 600px) {
    @content;
  }
}

@mixin large-screens {
  @media screen and (min-width: 1024px) and (min-height: 600px) {
    @content;
  }
}

@mixin extra-large-screens {
  @media screen and (min-width: 1200px) and (min-height: 600px) {
    @content;
  }
}
