@mixin shine($duration, $timing-function, $animation-direction, $bg-start-position-x, $bg-stop-position-x) {
  color: transparent;
  animation: shine-animation $duration $timing-function infinite $animation-direction;

  @keyframes shine-animation {
    0% {
      background-position-x: $bg-start-position-x;
    }
    100% {
      background-position-x: $bg-stop-position-x;
    }
  }
}
