@use 'mixins/shine-animation';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    width: 70vw;
    max-width: 130px;
    height: 70vw;
    max-height: 130px;
    margin-bottom: 10px;
  }

  .name {
    font-size: 1.5rem;
    letter-spacing: 6px;

    background: linear-gradient(90deg, #000, #000, #000, #a60aff, #000, #000, #000);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500%;

    @include shine-animation.shine(10s, ease-in-out, normal, 100%, -100%);
  }
}


.component-placeholder {
  height: 150px;
}
