@use 'mixins/shine-animation';
@use 'mixins/media-screen';
@use 'mixins/animated-change-bg-color';

:host {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  letter-spacing: 5px;
  font-weight: 700;
  border-radius: 5px;
  width: 200px;
  color: #fff;

  background: linear-gradient(60deg,
    rgb(252, 243, 255) 0%,
    rgb(242, 207, 253) 10%,
    rgb(235, 190, 255) 20%,
    rgb(152, 47, 204) 72%,
    rgb(121, 10, 185) 95%
  );

  border: 1px solid #fff;
  box-shadow: 0px 26px 48px -12px rgb(151, 152, 173);

  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  padding: 20px 40px;

  background: linear-gradient(60deg,
    rgba(255,255,255,1) 38%,
    rgb(203, 60, 243) 41%,
    rgba(255,255,255,1) 46%
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400%;

  @include shine-animation.shine(4s, cubic-bezier(.77,.41,.5,.83), alternate, 10%, 120%);

  >img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

@include media-screen.medium-screens {
  :host {
    background: transparent;
    box-shadow: 0px 23px 90px 10px rgb(166, 168, 199);
    font-size: 1.5rem;

    &:hover {
      transform: scale(1.02);
    }
  }
}
