@defer(when display()) {
  <resume-app-section-header [header]="'skills'" [startAnimation]="true"/>
  <div class="skills-list">
    <resume-app-skill
      iconPath="assets/svg/logo_angular_wht.svg"
      name="Angular"
    />
    <resume-app-skill
      iconPath="assets/svg/logo_rxjs.svg"
      name="RxJS"
    />
    <resume-app-skill
      iconPath="assets/svg/logo_ngrx.svg"
      name="NgRx"
    />
    <resume-app-skill
      iconPath="assets/svg/logo_jasmine.svg"
      name="Jasmine"
    />
    <resume-app-skill
      iconPath="assets/svg/logo_sass.svg"
      name="Sass"
    />
  </div>
}
@placeholder(minimum 100ms){
  <div class="component-placeholder"></div>
}
