:host {
  display: block;
  padding-top: 55px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  font-size: 1.25rem;
  line-height: 2rem;

  @media screen and (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.component-placeholder {
  height: 500px;
}
