@if(innerWidth < 768) {
  <resume-app-main-header/>
  <resume-app-divider/>
  <resume-app-find-me/>
  <resume-app-divider/>
  <resume-app-about-me/>
  <resume-app-divider/>
  <resume-app-skills/>
  <resume-app-divider/>
  <resume-app-side-projects/>
  <resume-app-divider/>
  <resume-app-languages/>
}
@else {
  <div class="left-panel">
    @if(innerHeight < 600){
      <resume-app-main-header/>
      <resume-app-divider/>
      <resume-app-find-me/>
      <resume-app-divider/>
    }
    @else {
      <resume-app-main-header/>
      <resume-app-find-me/>
    }
  </div>
  <div class="right-panel">
    <resume-app-about-me/>
    <resume-app-divider/>
    <resume-app-skills/>
    <resume-app-divider/>
    <resume-app-side-projects/>
    <resume-app-divider/>
    <resume-app-languages/>
  </div>
}
