@use 'mixins/media-screen';
@use 'mixins/animated-change-bg-color';


@include media-screen.very-small-screens {
  :host {
    display: block;
    margin: 0 5%;
  }
}

@include media-screen.small-screens {
  :host {
    margin: 0 3%;
  }
}

@include media-screen.medium-screens {
  :host {
    width: calc(100% - 75px);
    display: flex;
  }

  .left-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    height: 100%;
    min-height: 700px;
    margin: 5vh 0;
    border-radius: 3px;
    box-shadow: 7px 24px 70px 10px rgb(151, 152, 173);

    @include animated-change-bg-color.change-bg-color(
      border-box,
      (
        show 2.2s cubic-bezier(.88,.45,.17,.8) forwards,
        change-bg-color 25s cubic-bezier(.85,.15,.1,.84) infinite
      ),
      800%
    ) {
      @keyframes show {
        0%{
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes change-bg-color {
        0% {
          background-position: 100% 0;
        }
        50% {
          background-position: 0 100%;
        }
        100% {
          background-position: 100% 0;
        }
      }
    }
  }

  .right-panel {
    min-width: calc(100% - 220px);
    margin-left: 280px;
    padding: 30px;
    background-color: #ffffff;
  }
}

@media screen and (max-height: 700px) {
  .left-panel {
    margin-top: 5px;
    justify-content: flex-start;
  }
}
