@use 'mixins/animated-change-bg-color';
@use 'mixins/media-screen';

:host {
  display: flex;
  justify-content: center;

  .main-container {
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100%;
    padding: 0 15px 0 0;
    background-color: #ffffff;

    .content {
      padding-left: 10px;
    }
  }
}

.loading-container {
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  overflow: hidden;

  .circle {
    width: 45vw;
    max-width: 300px;
    height: 45vw;
    max-height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    animation: destroy-circle 1.2s 1.4s ease-in forwards;

    &:after{
      content: '';
      position: absolute;
      inset: 10px;
      margin: auto;
      background: #222b32;
      border-radius: 50%;

      color: transparent;
      background:
        linear-gradient(120deg,
          rgba(153,0,255,1) 13%,
          rgba(215,74,191,1) 26%,
          rgba(229,30,111,1) 41%,
          rgba(223,50,53,1) 53%,
          rgba(232,55,55,1) 64%,
          rgba(255,0,215,1) 73%,
          rgba(243,62,255,1) 79%,
          rgba(192,64,205,1) 85%,
          rgba(166,10,255,1) 91%,
          rgba(104,107,251,1) 97%
        );
      background-clip: border-box;
      -webkit-background-clip: border-box;
      background-size: 500%;

      animation:
        show-circle .4s ease-in forwards,
        change-bg-color 1.5s ease-in forwards;
    }

    &:before{
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0;
      background: #ffffff;

      animation: load-external-circle .5s .1s cubic-bezier(.5,.11,.56,0) forwards,
    }
  }
}

.greeting-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #ffffff;

  animation: show-greeting-text .8s .8s ease-in-out both;
}

@media screen and (max-height: 600px) {
  .loading-container {
    .circle {
      max-width: 70vh;
      max-height: 70vh;
    }
  }
}

@include media-screen.small-screens {
  :host {
    .main-container {
      width: 100%;
      max-width: 600px;
      margin: 0 2%;
      box-shadow: 0px 0px 70px 24px rgb(151, 152, 173);
    }
  }
}

@include media-screen.medium-screens {
  :host {
    .main-container {
      max-width: 900px;
      grid-template-columns: 1fr 60px;

      resume-app-side-menu {
        order: 2;
      }

      .content {
        order: 1;
      }
    }
  }
}

@include media-screen.large-screens {
  :host {
    .main-container {
      max-width: 1000px;
    }
  }
}

@include media-screen.extra-large-screens {
  :host {
    .main-container {
      max-width: 1000px;
    }
  }
}

@media screen and (max-height: 600px) {
  :host {
    .main-container {
      padding-top: 35px;
    }
  }

  resume-app-side-menu {
    z-index: 1000;
  }
}

@keyframes show-circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes change-bg-color {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes load-external-circle {
  0% {
    opacity: .3;
    transform: translateY(105%)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes show-greeting-text {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes destroy-circle {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(300);
  }
}
