@defer {
  <div class="main-container">
    <resume-app-side-menu/>
    <div class="content">
      <router-outlet/>
    </div>
  </div>
}
@placeholder(minimum 2.2s) {
  <div class="loading-container">
    <div class="circle"></div>
    <div class="greeting-text">Hi :)</div>
  </div>
}
