@use 'mixins/animated-change-bg-color';
@use 'mixins/media-screen';
@use 'mixins/shine-animation';

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  font-weight: 700;

  @include animated-change-bg-color.change-bg-color(
    text,
    (
      show 1s cubic-bezier(.88,.45,.17,.8) forwards,
      change-bg-color 15s cubic-bezier(.85,.15,.1,.84) infinite
    ),
    400%
  ) {
    @keyframes show {
      0%{
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes change-bg-color {
      0% {
        background-position: 0 100%;
      }
      50% {
        background-position: 100% 0;
      }
      100% {
        background-position: 0 100%;
      }
    }
  }

  .short-description {
    font-size: 2rem;

    >div {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 32px;
    }
  }
}

@include media-screen.medium-screens {
  .header {
    animation: none;
    color: #fff;
    letter-spacing: 8px;
    margin-bottom: 70px;

    .short-description {
      font-size: 2.2rem;

      >div {
        height: 72px;
        line-height: 47px;
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .header {
    margin-bottom: 10px;
  }
}
