<div class="actions display-content">
  <div class="section-actions">
    @if(innerWidth < 768) {
      <div class="scroll-to-section" (click)="scrollTo(sectionsToSelect.FIND_ME)">
        <mat-icon>link</mat-icon>
      </div>
    }
    <div class="scroll-to-section" (click)="scrollTo(sectionsToSelect.ABOUT_ME)">
      <mat-icon>account_box</mat-icon>
    </div>
    <div class="scroll-to-section" (click)="scrollTo(sectionsToSelect.SKILLS)">
      <mat-icon>developer_board</mat-icon>
    </div>
    <div class="scroll-to-section" (click)="scrollTo(sectionsToSelect.SIDE_PROJECTS)">
      <mat-icon>build</mat-icon>
    </div>
    <div class="scroll-to-section" (click)="scrollTo(sectionsToSelect.LANGUAGES)">
      <mat-icon>language</mat-icon>
    </div>
  </div>
  @if(innerWidth < 768) {
    <div class="scroll-to-section scroll-to-top" (click)="scrollTo(sectionsToSelect.MAIN_HEADER)">
      <mat-icon>keyboard_double_arrow_up</mat-icon>
    </div>
  }
  @else {
    <div class="scroll-to-section scroll-to-top" (click)="scrollTo(sectionsToSelect.ABOUT_ME)">
      <mat-icon>keyboard_double_arrow_up</mat-icon>
    </div>
  }
</div>
