@use 'mixins/media-screen';

.actions {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 100svh;
  bottom: 0;
  padding-top: 100px;
  border-right: 1px solid rgb(245, 245, 245);
}

.scroll-to-section {
  width: 60px;
  height: 80px;
  min-height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3px;
  border: 1px solid rgb(245, 245, 245);
  border-right: none;
  border-bottom: none;
  color: #800080;
  background-color: transparent;
  cursor: pointer;

  &:nth-last-child(1){
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  >mat-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
  }

  &:active {
    color: #fff;
    background-color: #800080;
    border-color: #800080;
  }
}

@include media-screen.medium-screens {
  :host {
    top: 100px;
    height: calc(90vh - 100px);
    min-height: fit-content;
    padding-right: 0;

    &::after {
      display: none;
    }
  }
}

@media screen and (max-height: 600px) {
  .actions {
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding-top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(245, 245, 245);

    .section-actions {
      display: flex;
      flex-direction: row;
    }
  }

  .scroll-to-section {
    width: 80px;
    height: 50px;
    min-height: 50px;
    border-right: 1px solid rgb(245, 245, 245);
  }

  .scroll-to-top {
    border-left: 1px solid rgb(245, 245, 245);
  }

  @media screen and (min-width: 768px) {
    .actions {
      left: 0;
    }
  }
}

@keyframes set-as-inactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
