@use 'mixins/shine-animation';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(90deg,
    rgba(218,105,255,1) 0%,
    rgba(173,25,235,1) 24%,
    rgba(156,19,226,1) 52%,
    rgba(124,0,195,1) 85%
  );
  color: white;
  line-height: 30px;
  border-radius: 5px;
  letter-spacing: 5px;
}

.language {
  font-size: 1.5rem;
}

.level {
  font-size: 1.4rem;
  font-weight: 700;
}

.language, .level {
  background: linear-gradient(75deg,
    rgba(255,255,255,1) 38%,
    rgb(203, 60, 243) 41%,
    rgba(255,255,255,1) 46%
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400%;
  @include shine-animation.shine(3s, cubic-bezier(.17,.34,.67,.57), alternate, 10%, 120%);
}

.component-placeholder {
  height: 200px;
}
