/* You can add global styles to this file, and also import other style files */
@forward './assets/scss/default-theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 4px;
}
